.container {
  width: min-content;
  display: flex;
}

.circleBig {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;

  text-align: center;
  cursor: pointer;
  z-index: 1;

  transition: all 400ms;
}
.circleBigOpen {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background: #bfbfbf;
  border: 3px solid black;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  z-index: 2;

  transition: all 400ms;
}

.container_scelte {
  display: block;
  animation: 1s show forwards;
  z-index: 3;
}

@keyframes show {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.scelta {
  display: flex;
  border-radius: 50px;
  background: #bfbfbf;
  border: 3px solid black;
  cursor: pointer;
}
.scelta:hover {
  background: #585858;
  border: 3px solid black;
}
.sceltaHead {
  border-radius: 50px;
  background: #bfbfbf8c;
  border: 3px solid black;
  width: 28px;
  height: 28px;
  text-align: center;
  margin: 2px 2px;
}
.sceltaHead span {
  font-size: 20px;
}

.scelta:hover > .sceltaHead {
  background: #0eada9;
  border: 3px solid #0a9894;
}
.sceltaText {
  padding: 2px 15px;
  color: #000000;
}
.scelta:hover > .sceltaText {
  color: #ffffff;
}
