.divBodyPart {
  margin: auto;
  width: 390px;
  height: 558px;
}
.divBodyBackground {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  margin: auto;
  position: relative;

  margin: auto;
  width: 390px;
  height: 558px;
}
