.divVideo {
  /* background-image: url(./video/simone/startVideo.jpg); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  min-width: 390px;
  max-width: 33%;
  width: 33%;
  height: 597px;

  position: relative;
  z-index: -1;
}

.videoElement {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.disable {
  opacity: 0;
}

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .divVideo {
    margin-bottom: 25px;
    position: absolute;
    opacity: 0;
  }

  .fadeIn {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
}
