.cardLinkBox{
    text-decoration: none;
    background: #07827f;
    height: 250px;
    width: 250px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;

    position: relative;
    animation: entering 2s forwards ease-in-out, floatingX 2s infinite linear, floatingY 3s infinite linear;
}

.cardLinkBox:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.5;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
}
.cardLinkBox:after {
    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    top: 5%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(80px) translateY(-90px) skewX(20deg);
    filter: blur(10px);
}

.floating{
    animation: floatingX 2s 3s infinite linear, floatingY 3s 3s infinite linear;
}

.cardLinkBox:nth-child(1){
    animation-delay: 0.7s, 2.7s, 2.7s;
}
.cardLinkBox:nth-child(2){
    animation-delay: 0.5s, 2.5s, 2.5s;
}
.cardLinkBox:nth-child(3){
    animation-delay: 0.3s, 2.3s, 2.3s;
}
.cardLinkBox:nth-child(4){
    animation-delay: 0.1s, 2.1s, 2.1s;
}


@media screen and (min-width: 768px){
    .cardLinkBox{
        left: -100%;
    }
    
    @keyframes entering {
        0% {position: relative; left: -100%; }
        80% {left: 20%;}
        100% {position: relative; left: 0%;}
    }
}

@keyframes floatingX {
    0% {left: 0px;}
    33% {left: 2.5px;}
    66% {left: -2.5px;}
    100% {left: 0px;}
}

@keyframes floatingY {
    0% {top: 0px;}
    33% {top: 2.5px;}
    66% {top: -2.5px;}
    100% {top: 0px;}
}

.fullscreen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0 ;
    left: 0 ;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0;
    z-index: 10;

    transition: 1s ease-in-out;
    animation: none;
}
.fullscreen:before {
    background: none;
}
.fullscreen:after {
    background: none;
}


.reduceNoFullscreen{
    width: 0;
    margin: 0;
    animation: none;
}

.cardLinkBox:nth-of-type(1){
    margin: 0px 50px 0px 100px;
}
.cardLinkBox:nth-of-type(n):not(:first-of-type):not(:last-of-type){
    margin: 0px 50px 0px 0px;
}
.cardLinkBox:nth-last-of-type(1){
    margin: 0px 100px 0px 0px;
}

.linkTextContext{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkTitle{
    color: #ffffff;
    text-shadow: 2px 2px 2px #555353;
    font-family: 'Aileron thin', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.linkSubTitle{
    color: #ffffff;
    font-family: 'Aileron thin', sans-serif;
    text-shadow: 2px 2px 2px #555353;
    font-size: 19px;
    margin: 5px 5px 5px 0px;
    text-align: center;
}


@media screen and (max-width: 768px){
    .cardLinkBox{
        top: -200vh;
    }

    .cardLinkBox:nth-of-type(1){
        margin: 100px 0px 0px 0px;
    }
    .cardLinkBox:nth-of-type(n):not(:first-of-type):not(:last-of-type){
        margin: 50px 0px 0px 0px;
    }
    .cardLinkBox:nth-last-of-type(1){
        margin: 50px 0px 100px 0px;
    }
        
    @keyframes entering {
        0% {position: relative; top: -200vh; }
        80% {top: 100px;}
        100% {position: relative; top: 0px;}
    }
}
