.mainTitle{
    position: fixed;
    display: flex;
    flex-direction: row;
}
.mainTitleSphere{
    background: #ffffff80;
    border-radius: 25px;
    box-shadow: 0 0 13px 4px #ffffff80;
    width: 200px;
    min-width: 200px;
    height: 200px;
}
.mainTitleText{
    background: #ffffff80;
    border-radius: 25px;
    box-shadow: 0 0 13px 4px #ffffff80;
    width: 600px;
    min-width: 600px;
    height: 100px;
    object-fit: cover;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .mainTitle{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        background: white;
        z-index: 2;

        margin-bottom: 300px;
    }
    .mainTitleSphere{
        width: 150px;
        min-width: 150px;
        height: 150px;
    }
    .mainTitleText{
        width: 400px;
        min-width: 400px;
        height: 100px;
        margin-top: 25px;
    }
}
