.mainTitle{
    position: fixed;
    display: flex;
    flex-direction: row;
}
.mainTitleSphere{
    background: #ffffff80;
    border-radius: 25px;
    box-shadow: 0 0 13px 4px #ffffff80;
    width: 200px;
    min-width: 200px;
    height: 200px;
}
.mainTitleText{
    background: #ffffff80;
    border-radius: 25px;
    box-shadow: 0 0 13px 4px #ffffff80;
    width: 600px;
    min-width: 600px;
    height: 100px;
    object-fit: cover;
    margin-top: 50px;
}
