.mainText{
    width: 100%;
    min-width: 390px;
    height: 100px;
    margin: 10px 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.divImagesHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mainTitleSphere{
    width: 200px;
    min-width: 200px;
    height: 200px;
}

.mainTitle{
    width: 500px;
    height: 200px;
    object-fit: cover;
}

.backButton{
    text-decoration: none;
    background: #ffffff;
    border: 5px solid #07827f;
    height: 100px;
    width: 100px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;

    user-select: none;
    position: relative;

    left: -100%;
    animation: entering 2s forwards ease-in-out, floatingX 2s 2s infinite linear, floatingY 3s 2s infinite linear;

    color: #000000;
    font-family: 'Tenor Sans', 'Aileron thin', sans-serif;
    font-size: 25px;
    /* font-weight: bold; */
    text-align: center;
    
    margin-right: 100px;
    margin: 0px 25px 0px 0px;
}

@keyframes entering {
    0% {position: relative; left: -100%;}
    80% {left: 20%;}
    100% {position: relative; left: 0%;}
}

@keyframes floatingX {
    0% {left: 0px;}
    33% {left: 2.5px;}
    66% {left: -2.5px;}
    100% {left: 0px;}
}

@keyframes floatingY {
    0% {top: 0px;}
    33% {top: 2.5px;}
    66% {top: -2.5px;}
    100% {top: 0px;}
}

@media screen and (max-width: 768px) {
    .mainText{
        height: 100px;
        margin-top: 15px;
    }

    .mainTitleSphere{
        width: 150px;
        min-width: 150px;
        height: 150px;
    }

    .mainTitle{
        width: 350px;
        min-width: 350px;
        height: 150px;
    }

    .backButton{
        width: 100px;
        min-width: 100px;
        min-height: 100px;
        margin: 0px 25px 0px 0px;
    }
}

