.mainText{
    width: 100%;

    height: 100px;
    /* position: fixed; */

    min-width: 390px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    background-image: linear-gradient(225deg, #f7d8ff, #6303b1);
    background-image: repeating-linear-gradient(225deg, #583562, #6303b1 100px);
    background-image: linear-gradient(45deg, #c01f01, #fff500);
    background-image: linear-gradient(45deg, #391601, #ff5e00);
    background-image: linear-gradient(225deg, #fff4d8, #d76c16);
    background-image: repeating-linear-gradient(225deg, #cb7245, #b14d03 100px);
}

.mainTitle{
    font-family: 'Great Vibes', 'Libre Baskerville', serif;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #f8f6f1;
    text-shadow: 2px 2px 2px #555353;
}

.backButton{
    text-decoration: none;
    color: #f8f6f1;
    text-shadow: 2px 2px 2px #555353;
    background: #f2ab6f;
    border-radius: 25px 25px 25px 0px;
    padding: 10px 15px 10px 15px;
    box-shadow: 3px 3px 20px 0px #00000036;
}
