.Tutorial{
    width: 33%;
    background: #07827f;
}
.TutorialTitle{
    color: #ffffff;
    text-shadow: 2px 2px 2px #555353;
    font-family: 'Aileron thin', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.TutorialTest{
    color: #ffffff;
    font-family: 'Aileron thin', sans-serif;
    text-shadow: 2px 2px 2px #555353;
    font-size: 19px;
    margin: 5px 5px 5px 0px;
    text-align: center;
}