.bodyCircle {
  border-radius: 50px;
  background: #bfbfbf8c;
  border: 3px solid black;

  text-align: center;
  font-size: 36px;
  cursor: pointer;

  animation: 1s show forwards;
}
.bodyCircle:hover {
  background: #ccb5008c;
  border: 3px solid #942323;
}

.disabled {
  animation: 1s hide forwards;
  cursor: default;
}

@keyframes show {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.circleTop {
  position: relative;
  top: -50px !important;
  left: 50px !important;
}

.circleCenter {
  position: relative;
  top: -2px !important;
  left: 50px !important;
}

.circleBottom {
  position: relative;
  top: 50px !important;
  left: 50px !important;
}

.classesContainer {
  background: #ff000087;
  display: flex;
  flex-direction: row;
}
